---
layout: generic_collection_item
image_viewer: 'openseadragon'
pagination: true
meta:
  - label: 'Description'
    value: page.description
  - label: 'Objective'
    value: page.objective
  - label: 'Type'
    value: page.object_type
  - label: 'Discipline'
    value: page.discipline
  - label: 'Creator'
    value: page.creator
  - label: 'Date'
    value: page._date
  - label: 'ACRL Frame'
    value: page.frame
  - label: 'License'
    value: page.license
  - label: 'Download'
    value: page.source
    type:  link
---
